header, label, main {
    display: block;
}
a, body, div, form, h1, h2, html, label, main, p, span, header, article, ul, li, nav {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  font: 100%/1.52 Arial, sans-serif;
  margin: 0;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: black;
}

button, input[type="submit"] {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
h1, h2 {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -3000px;
}

nav {
  background-color: #3b5998;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

nav ul {
    display: table;
    width: 100%;
}

nav li  {
  display: table-cell;
  text-align: center;
}

nav a {
  width: 40px;
  height: 44px;
  overflow: hidden;
  text-indent: 30em;
  display: block;
  background: url(rfrww3QxLVa.png) no-repeat;
  background-size: auto;
  margin: 0 auto;
  position: relative;
  opacity: .7;
}
nav a:hover, nav a:focus {opacity: 1;}

.count {
  color: white;
  background-color: red;
  display: block;
  position: absolute;
  text-indent: 0;
  font-size: 75%;
  top: 5px;
  right: 0;
  border-radius: 0.3em;
  padding: 0 0.3rem;
}

nav li:nth-child(1) a {
  background-position: -22px -78px;
  opacity: 1;
}
nav li:nth-child(2) a {
  background-position: -164px -124px;
}
nav li:nth-child(3) a {
  background-position: -309px -78px;
}
nav li:nth-child(4) a {
  background-position: 0 -124px;
}
nav li:nth-child(5) a {
  background-position: -227px -78px;
}
nav li:nth-child(6) a {
  background-position: -145px -78px;
}

main {
  max-width: 680px;
  margin: 0 auto;
}
article {
  background-color: white;
}

article .content {
  padding: 1rem 0.5rem;
}
article .content > p {font-size: 1.5em; line-height: 1.2;}


article header {
  position: relative;
}

.avatar {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 40px;
  height: 40px;
  float: left;
}

.comments .avatar {
  width: 35px;
  height: 35px;
  padding-top: 2px;
}

article header h3, article header p {
  margin-left: 60px;
}

article header h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
  font-size: 0.95em;
}

article header p {
  font-size: 0.75em;
  color: #90949c;
}

.actions-dropdown button {
  width: 12px;
  height: 8px;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  text-indent: 30em;
  overflow: hidden;
  background: url(JTPk2cKpfT8.png) -69px -48px no-repeat;
  background-size: auto;
}

[role=dropdown] {
  position: absolute;
  top: 30px;
  right: 0;
  width: 15em;
  background: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}
[role=dropdown]::before {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    right: 9px;
    content: '';
    background: #FFF;
    transform: rotate(45deg);
}

[role=dropdown] li {
    display: block;
    position: relative;
    font-size: 0.9em;
    margin: 0 20px 0 44px;
    text-indent: -34px;
    padding: 0.5rem 0.5rem 0.5rem 34px;
}

[role=dropdown] li a {display: block;}
[role=dropdown] li a::before {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    left: -34px;
    content: '';
    background: url(VdPexFpcET8.png) 0 -23px no-repeat;
    background-size: auto;
}

[role=dropdown] li:nth-child(2) a::before {
    background-image: url(42PXvzHTDbB.png);
}

[role=dropdown] li + li {
    border-top: 1px solid #cfcfcf;
}

[role=dropdown][aria-expanded=false]{
  display: none;
}

[role=dropdown][aria-expanded=true]{
  display: block;
}

ul.actions {
  background: #F3F3F3;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
}

ul.actions li {flex: 1; -webkit-flex: 1; -ms-flex: 1; text-align: center;}
ul.actions li:nth-child(2) {border-left: 1px solid #CCC; border-right: 1px solid #CCC;}
ul.actions a, ul.actions button {
  font-size: 80%;
  color: #666;
  padding: 0.3rem 0.5rem 0.3rem 26px;
  position: relative;
}
ul.actions a::before, ul.actions button::before {
  content: '';
  background: url(JTPk2cKpfT8.png) -83px -60px no-repeat;
  background-size: auto;
  width: 16px;
  height: 32px;
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 0;
}

ul.actions li:nth-child(2) a::before {
    background-position: -66px -60px;
}

ul.actions li:nth-child(3) a::before {
        background-position: -117px -60px;
}


article .comments p.love-list {font-weight: bold; padding: 0.5rem 0 0; margin: 0 0 0 0.5rem;}
.ic-like, .ic-sad, .ic-love {
  position: relative;
  top: 3px;
  overflow: hidden;
  text-indent: 300rem;
  background: url(JTPk2cKpfT8.png) -82px -93px no-repeat;
  background-size: auto;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.love-list span + span {
  margin-left: -5px;
}
.ic-sad {
  background-position: -150px -93px;
}
.ic-love  {
  background-position: -99px -93px;
}

.comments {background: #F6F6F6;}
.comments li {display: block;}
.comments > ul > li {border-top: 1px solid #CFCFCF;margin-top: 0.5rem;}

.comments h4 {
  position: relative;
  font-size: 0.95em;
  padding: 0.3em 0 0;
  margin: 0;
}

.comments h4 a {margin-left: 65px;}
article .comments p {font-size: 0.95em; margin-left: 65px;}
.secondary-actions {
  margin-left: 65px;
  display: inline-block;
}
.secondary-actions li { display: inline-block;}
.secondary-actions li::after, header time::after {
  display: inline-block;
  position: relative;
  top: -0.2em;
  content: "";
  width: 2px;
  height: 2px;
  text-align: center;
  background: #90949c;
  margin: 0 0.3rem 0 0.5rem;
  border-radius: 2px;
}
.secondary-actions a, .comments .secondary-actions button{
  color: #8190b0;
  font-size: 70%;
  padding: 0;
}

.comments .shared-time {
  font-size: 0.7em;
  color: #90949c;
  display: inline-block;
  margin: 0;
}

.comments textarea {
  width: 72%;
  padding: 0 3%;
  position: relative;
  top: 0.5rem;
  border: 1px solid #CCC;
}

.comment-form {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flex;
  -ms-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
}
.comment-form ul {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  margin: 1.5rem 0 0 0.5rem;
}
.comment-form input[type="submit"]{
  color: #bec2c9;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  border-radius: 0.3rem;
  padding: 0.7rem 0.5rem;
  margin: 0;
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
}
.comment-form ul button, .comment-form ul input[type=file] {
  display: block;
  overflow: hidden;
  text-indent: 300rem;
  border: 1px solid #CCC;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: relative;
  background: linear-gradient(#fcfcfc, #e9e9e9);
  background-color: #f8fafa;
  border: 1px solid #d9dbdc;
  border-radius: 4px;
}
.comment-form ul input[type=file] {
  padding: 0;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.comment-form ul label {
  overflow: hidden;
  position: absolute;
  left: -3000px;
  width: 1px;
  height: 1px;
}
.comment-form li { position: relative; float: left;}
.comment-form li + li {
   margin-left: 10px;

 }
.comment-form ul button::after, .comment-form ul li:nth-child(2)::after{
  background: url(rAkeQuu3N2e.png) no-repeat;
  background-size: auto;
  width: 20px;
  height: 20px;
  display: block;
}
.comment-form ul button::after {
  content: '';
  background-position: -21px -356px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.comment-form ul li:nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  background-position: -31px -377px;
  position: absolute;
  top: 12px;
  left: 11px;
}

nav li  {
  display: table-cell;
  text-align: center;
}

nav a {
  width: 40px;
  height: 44px;
  overflow: hidden;
  text-indent: 30em;
  display: block;
  background: url(rfrww3QxLVa.png) no-repeat;
  background-size: auto;
  margin: 0 auto;
  position: relative;
  opacity: .7;
}
nav a:hover, nav a:focus {opacity: 1;}

.count {
  color: white;
  background-color: red;
  display: block;
  position: absolute;
  text-indent: 0;
  font-size: 75%;
  top: 5px;
  right: 0;
  border-radius: 0.3em;
  padding: 0 0.3rem;
}

nav li:nth-child(1) a {
  background-position: -22px -78px;
  opacity: 1;
}
nav li:nth-child(2) a {
  background-position: -164px -124px;
}
nav li:nth-child(3) a {
  background-position: -309px -78px;
}
nav li:nth-child(4) a {
  background-position: 0 -124px;
}
nav li:nth-child(5) a {
  background-position: -227px -78px;
}
nav li:nth-child(6) a {
  background-position: -145px -78px;
}

main {
  max-width: 680px;
  margin: 0 auto;
}
article {
  background-color: white;
}

article .content {
  padding: 1rem 0.5rem;
}
article .content > p {font-size: 1.5em; line-height: 1.2;}


article header {
  position: relative;
}

.avatar {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 40px;
  height: 40px;
  float: left;
}

.comments .avatar {
  width: 35px;
  height: 35px;
  padding-top: 2px;
}

article header h3, article header p {
  margin-left: 60px;
}

article header h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
  font-size: 0.95em;
}

article header p {
  font-size: 0.75em;
  color: #90949c;
}

.actions-dropdown button {
  width: 12px;
  height: 8px;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  text-indent: 30em;
  overflow: hidden;
  background: url(JTPk2cKpfT8.png) -69px -48px no-repeat;
  background-size: auto;
}

[role=dropdown] {
  position: absolute;
  top: 30px;
  right: 0;
  width: 15em;
  background: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}
[role=dropdown]::before {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    right: 9px;
    content: '';
    background: #FFF;
    transform: rotate(45deg);
}

[role=dropdown] li {
    display: block;
    position: relative;
    font-size: 0.9em;
    margin: 0 20px 0 44px;
    text-indent: -34px;
    padding: 0.5rem 0.5rem 0.5rem 34px;
}

[role=dropdown] li a {display: block;}
[role=dropdown] li a::before {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    left: -34px;
    content: '';
    background: url(VdPexFpcET8.png) 0 -23px no-repeat;
    background-size: auto;
}

[role=dropdown] li:nth-child(2) a::before {
    background-image: url(42PXvzHTDbB.png);
}

[role=dropdown] li + li {
    border-top: 1px solid #cfcfcf;
}

[role=dropdown][aria-expanded=false]{
  display: none;
}

[role=dropdown][aria-expanded=true]{
  display: block;
}

ul.actions {
  background: #F3F3F3;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
}

ul.actions li {flex: 1; -webkit-flex: 1; -ms-flex: 1; text-align: center;}
ul.actions li:nth-child(2) {border-left: 1px solid #CCC; border-right: 1px solid #CCC;}
ul.actions a, ul.actions button {
  font-size: 80%;
  color: #666;
  padding: 0.3rem 0.5rem 0.3rem 26px;
  position: relative;
}
ul.actions a::before, ul.actions button::before {
  content: '';
  background: url(JTPk2cKpfT8.png) -83px -60px no-repeat;
  background-size: auto;
  width: 16px;
  height: 32px;
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 0;
}

ul.actions li:nth-child(2) a::before {
    background-position: -66px -60px;
}

ul.actions li:nth-child(3) a::before {
        background-position: -117px -60px;
}


article .comments p.love-list {font-weight: bold; padding: 0.5rem 0 0; margin: 0 0 0 0.5rem;}
.ic-like, .ic-sad, .ic-love {
  position: relative;
  top: 3px;
  overflow: hidden;
  text-indent: 300rem;
  background: url(JTPk2cKpfT8.png) -82px -93px no-repeat;
  background-size: auto;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.love-list span + span {
  margin-left: -5px;
}
.ic-sad {
  background-position: -150px -93px;
}
.ic-love  {
  background-position: -99px -93px;
}

.comments {background: #F6F6F6;}
.comments li {display: block;}
.comments > ul > li {border-top: 1px solid #CFCFCF;margin-top: 0.5rem;}

.comments h4 {
  position: relative;
  font-size: 0.95em;
  padding: 0.3em 0 0;
  margin: 0;
}

.comments h4 a {margin-left: 65px;}
article .comments p {font-size: 0.95em; margin-left: 65px;}
.secondary-actions {
  margin-left: 65px;
  display: inline-block;
}
.secondary-actions li { display: inline-block;}
.secondary-actions li::after, header time::after {
  content: ' . ';
  text-align: center;
  position: relative;
  color: #999;
  top: -0.2em;
}
.secondary-actions a, .comments .secondary-actions button{
  color: #8190b0;
  font-size: 70%;
  padding: 0;
}

.comments .shared-time {
  font-size: 0.7em;
  color: #90949c;
  display: inline-block;
  margin: 0;
}

.comments textarea {
  width: 72%;
  padding: 0 3%;
  position: relative;
  top: 0.5rem;
  border: 1px solid #CCC;
}

.comment-form {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flex;
  -ms-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
}
.comment-form ul {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  margin: 1.5rem 0 0 0.5rem;
}
.comment-form input[type="submit"]{
  color: #bec2c9;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  border-radius: 0.3rem;
  padding: 0.7rem 0.5rem;
  margin: 0;
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
}
.comment-form ul button, .comment-form ul input[type=file] {
  display: block;
  overflow: hidden;
  text-indent: 300rem;
  border: 1px solid #CCC;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: relative;
  background: linear-gradient(#fcfcfc, #e9e9e9);
  background-color: #f8fafa;
  border: 1px solid #d9dbdc;
  border-radius: 4px;
}
.comment-form ul input[type=file] {
  padding: 0;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.comment-form ul label {
  overflow: hidden;
  position: absolute;
  left: -3000px;
  width: 1px;
  height: 1px;
}
.comment-form li { position: relative; float: left;}
.comment-form li + li {
   margin-left: 10px;

 }
.comment-form ul button::after, .comment-form ul li:nth-child(2)::after{
  background: url(rAkeQuu3N2e.png) no-repeat;
  background-size: auto;
  width: 20px;
  height: 20px;
  display: block;
}
.comment-form ul button::after {
  content: '';
  background-position: -21px -356px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.comment-form ul li:nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  background-position: -31px -377px;
  position: absolute;
  top: 12px;
  left: 11px;
}
